*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 0, 43);
}
.title{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    margin-top: 3%;
}

/* inizio primo container */
.container-superiore{
    height: 230px;
    width: 75%;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    margin-top: 1%;
    
}
.lista-1{
    display: flex;
   list-style: none; 
   width: 80%;
   margin:auto;
   

}
.lista-1 li{
    padding-top: 50px;
    margin:auto;
    text-align: center;
    
}
.text-1{
    margin-bottom: 10px;
    color:rgb(255, 0, 43);
    font-size: 19px;
}
input{
    border: 1px solid rgb(255, 0, 43);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
select{
    border: 1px solid rgb(255, 0, 43);
    border-radius: 5px;
    padding: 5px;
    text-align: center;   
}

.container-button{
    text-align: center;
    margin-top: 50px;
}
#genera{
    background-color: rgb(175, 172, 172);
    color: rgb(255, 0, 43);
    border: 1px solid rgb(185, 14, 185) ;
    padding:5px 10px;
    border-radius: 5px;
    font-size: 18px;
    margin-right: 20px;
}
#annulla{
    background-color: rgb(175, 172, 172);
    color: rgb(255, 0, 43);
    border: 1px solid green; 
    padding:5px 10px;
    border-radius: 5px;
    font-size: 18px; 
}